@import url('http://fonts.cdnfonts.com/css/sailor-vito');

.Quote,
.QuoteAuthor {
  font-family: 'Sailor Vito', sans-serif;
  letter-spacing: 1.5px;
  color: aliceblue;
  background-color: rgba(124, 194, 194, 0.212);
}

.Quote {
  padding: 0 1.5rem;
  margin-top: 40vh;
}

.QuoteAuthor {
  font-weight: bolder;
}
